/* Coolors Exported Palette - coolors.co/16282e-e8cf78-fefbe7-9daf85-dbcdc6 */

/* HSL */
$color1: hsla(195%, 35%, 13%, 1);
$color2: hsla(47%, 71%, 69%, 1);
$color3: hsla(52%, 92%, 95%, 1);
$color4: hsla(86%, 21%, 60%, 1);
$color5: hsla(20%, 23%, 82%, 1);

/* RGB */
$color1: rgba(22, 40, 46, 1);
$color2: rgba(232, 207, 120, 1);
$color3: rgba(254, 251, 231, 1);
$color4: rgba(157, 175, 133, 1);
$color5: rgba(219, 205, 198, 1);